<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    html {
      background-color: #ebebeb;
    }
  </style>
</head>
<body class="w-[1200px] h-[630px] p-24 border-b-[12px] border-blue-600 bg-gradient-to-b from-white via-blue-100 to-blue-300">
  <div class="flex justify-between gap-12">
    <div class="flex-1">
      <h1 class="text-7xl font-bold">{{ title }}</h1>
      <p class="text-4xl text-slate-700 mt-6">
        Lorem ipsum dolor sit amet, laboris elit tempor aliquip commodo anim Lorem in proident laborum
      </p>
    </div>

    <div class="w-48">
      <img src="/adocasts_icon.png" class="w-full rounded-2xl" />
    </div>
  </div>
</body>
</html>